.app.dark {
  --bg-color: #505050;
  --inverted-bg-color: #ffffff;

  --primary-color: #ffffff;
  --secondary-color: #000000;
  --inverted-primary-color: #000000;
  --inverted-secondary-color: #605f5f;
}