.app.dark {
    --bg-color: #505050;
    --inverted-bg-color: #fff;
    --primary-color: #fff;
    --secondary-color: #000;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #605f5f;
}
