.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #505050;

  --primary-color: #000000;
  --secondary-color: #ffffff;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #c9c9c9;
}